body{
    background-image:url('https://img.freepik.com/free-vector/golden-dust-elements-falling-down_260559-287.jpg?size=626&ext=jpg&ga=GA1.2.1430932391.1686201748&semt=ais') ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color:white;
    background-color: black;
    border:2px solid white; 
    transition:transform 1s ease-in-out;
    box-shadow: 2px 2px 20px rgb(145, 235, 135);
}   

h1:hover{
 transform: scale(1.1);
     background-color: aqua;
     animation: color 1s infinite;
}

img{
    margin:10%;
    box-shadow: 2px 2px 20px yellow;
    transition: transform 1s linear;
    

    justify-content: space-evenly;
}

img:hover{
    transform:scale(1.1);
}
p{
    color: white;
    margin-left: 15%;
}