body{
    background-image:url('https://wallpaperaccess.com/full/5296912.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    
}


.new{
    margin-top: 20%;
}

a{
    border:3px solid white;
}

.thaha{
    position: relative;
    padding:60px 15px;
    width:270px;
    height:350px;
    box-shadow:0px 0px 10px 0px rgb(116,119,114);
    border-radius: 5px;
    overflow:hidden;
    margin-left:40%;
}

h1{
    margin:10%;
    box-shadow: 2px 2px 100px greenyellow;
    transition: tranform 2s ease; 
    
}




